/*------------------
global styles
-------------------*/

body {
    padding: 0;
    margin: 0;
    color: #4f545c;
    background: white;
}

p {
    color: #737f8d;
    line-height: 30px;
}

h2 {
    color: #4f545c;
    font-size: 26px;
    font-weight: 600;
    line-height: 34px;
}

h3 {
    font-size: 22px;
    color: #4f545c;
}

.section-heads {
    width: 100%;
    text-align: center;
    padding: 0px 25%;
}

.casual-button {
    background: #1E56A0;
    padding: 10px 30px;
    border-radius: 6px;
    color: white;
    vertical-align: middle;
    transition: 250ms ease-in;
    border: 2px solid #1E56A0;
    text-align: center;
    display: block;
    width: 160px;
    margin: auto;
}

.casual-button:hover {
    color: #1E56A0;
    text-decoration: none;
    background: transparent;

}




/*importing fonts*/

@font-face {
    font-family: "social-font-icon";
    src: url(../../assets/fonts/social-font-icon.ttf);
}
















/*navabr*/

navbar-toggler-icon {
    background-color: #fff;
}

.navbar {
    font-size: 13px;
    height: 55px;
}

.navbar a,
.navbar {
    color: #fff;
}

.navbar a:hover {
    color: #eee;
}

.nav-item {
    padding-top: 25px;
}








/*login button*/

.navbar .nav-item .login-button {
    color: #eee;
    border: 1.5px solid;
    width: 80px;
    font-weight: bold;
    border-radius: 70px;
    text-align: center;
    margin-top: -5px;
}

.navbar .nav-item .login-button:hover {
    color: #fff;
}

/*drop down*/

.dropdown-menu {
    background-color: #f6f6f6;
}


.navbar .dropdown-menu a {
    color: #535559;
    font-size: 13px;
}

.navbar .dropdown-menu a:hover {
    color: initial;
    background-color: #eee;
}

.navbar .social-icon {
    font-size: 35px;
    margin-top: -13px;
}

.navbar .social-icon-bar {
    font-size: 24px;
    padding: 12px;
    margin-top: 4px;
}


header .navbar-brand img {
    width: 140px;
}

header .navbar {
    background-color: transparent;
    color: white;
}



/*--------------
HEADER STYLES
---------------*/

header {
    background: url(../../src/img/contact/hero/contact.svg) no-repeat;
    width: 100%;
    height: 638px;
    background-size: cover;
}

/*header text*/

.header-text {
    color: white;
    padding: 20px 10%;
    text-align: center;
}

header h1 {
    line-height: 50px;
    font-size: 45px;
    margin-top: -0px;
    font-weight: bolder;
    font-family: sans-serif;


}

header p {
    line-height: 30px;
    font-size: 17px;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    color: #ddd;
}

.code-monster {

    text-align: center;

}

.code-monster-pic {
    padding-top: 40px;
    max-width: 100%;
    height: auto
}

.desc-background {
    width: 100%;
    height: 240px;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-size: 20px;
}

.resp-text-other {
    margin: 0em;
    font-size: 2vw;
}

.resp-text-h2 {
    font-size: 2vw;
    margin-top: 10px;
}

.resp-text-h1 {
    font-size: 4vw;
}

@media only screen and (max-width: 800px) {

    .resp-text-h1 {
        font-size: 1.5em;
        line-height: 30px;
    }
    .resp-text-h2 {
        margin-top: 10px;
        font-size: .7em;
        line-height: 15px;
    }
    .resp-text-other {
        font-size: .7em;
        line-height: 15px;
    }

}


/*----------------
SECTION ONE STYLES
-----------------*/

.section-one {
    width: 100%;
    height: 500px;
}

.map-frame {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 500px;
}

.no-padding{
    padding: 0;
}

.quick-contact{
    margin: 25px auto 12px auto;
}

.contact-pods{
   
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: row;
}
.contact-pods img{
    width: 70px;
    
}

.con-pod{
    width: 200px;
    height: 150px;
    
}










/*-----------------
SECTION TWO STYLES
------------------*/

.section-two {
    text-align: center;
    padding-top: 40px;
    height: 800px;
    background: url(../../src/img/icon/stars/stars.gif);
}



.section-two figure {
    background: url(../../src/img/contact/mail/letter.png) no-repeat;
    background-size: 100px;
    width: 100%;
    height: 100px;
    background-position: center;
    margin: 18px 0 18px 0;
}


/*form style*/

.contact-form {
    width: 500px;
    margin: auto;


}


.contact-form .conflict {
    width: 220px;
    padding: 7px;

}

.contact-form textarea {
    width: 444px;
    height: 150px;
    resize: none;
    padding: 7px;
}

.contact-form input[type=button] {
    cursor: pointer;
}

.contact-form .input-subject {
    width: 444px;
    padding: 7px;

}

/*pod*/

.pods {
    width: 550px;
    box-shadow: 0 9px 20px 0 rgba(153, 170, 181, .1);
    background-color: #fff;
    margin: auto;
}

.pods h3 {
    margin: 26px auto 21px auto;
}




/*---------------------
footer styles
-----------------------*/

footer {

    background: #163172;
    color: white;
}

footer .row-1 {
    height: 100%;
    padding-top: 40px;

}

footer .row-1 p {
    line-height: 22px;
    color: #0275d8;


}


.footer-first-sec img {
    width: 200px;
    margin-left: 13px;
}

.footer-first-sec p {
    padding: 7px 13px;
    text-align: left;
}

/*social icons*/

.social-icon-footer-container {
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0;
    margin-top: -45px;
    margin-left: 13px;


}

.social-icon-footer-container a {
    color: white;
}

.social-icon-footer-container li {
    display: inline-block;
    font-size: 40px;
}

.footer-heads ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-heads ul {
    padding: 0;
}


footer hr {
    background-color: #eee;
}

.last-text {
    margin-top: -15px;
    padding: 10px;
}

.last-text .dev {
    text-align: left;
}

.last-text .dsc {
    text-align: right;
}
